---
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
//  in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<div class="p-5 font-teko bg-white text-black">Don't want to use any of this? Delete everything<br/>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim aeque doleamus animo, cum corpore dolemus, fieri tamen permagna accessio potest, si aliquod aeternum et infinitum.</div>
</Layout>
